$colors:(
    primary: #ffffff,
    secondary: #E4EDEB,
    accent: #03172B,
    dark: #000000,
    greysub: #2e2e2e,
    btn_hover: #00A7E1,
    light_primary: #d4c7be,
    bg_color:#00171F,
    bg_color_secondary: #003459, 
    bg_menu: #082832,
)