.dashboard{
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    @include slide_screen(0.5s);
    &__container{
        height: 350px;
    }
    &__item{
        background-color: map-get($map: $colors, $key: primary );
        // background-image: linear-gradient(to left, rgb(64, 19, 78), rgb(132, 158, 232));
        box-shadow: -2px 2px 2px map-get($map: $colors, $key:bg_menu );
        border-radius: 25px;
    }
    &__btn{
        all:unset;
        background-color: orange;
        border-radius: 20px;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 3px black;
        &:hover{
            background-color: rgb(86, 56, 0);
        }
        &:active{
            background-color: rgb(31, 23, 7);
        }
    }
    &__table{
        border: solid black;
    }
}