.foot{
    background-color: #1F2937;
    color: white;
    user-select: none;
    &__logo{
        width: 80px;
    }
    &__ico{
        width: 30px;
    }
    &__link{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}