.nav{
    // background-co:lor: map-get($map: $colors, $key:bg_color_secondary );
    background-image: linear-gradient(to left,rgb(0, 0, 58),#00171F);
    color: map-get($map: $colors, $key:primary );
    user-select: none;
    box-shadow: 5px 0px 15px black;
    font-size: 0.8em;
    &__img{
        width: 40px;
    }
    &__button{
        width: 150px;
        color: map-get($map: $colors, $key:primary );
        background-color: map-get($map: $colors, $key:primary );
        border: 0px;
    }
    &__ico{
        width: 25px;
    }
    &__link{
        text-decoration: none;
        color: map-get($map: $colors, $key:primary );
        cursor: pointer;
        &:hover{
            color: map-get($map: $colors, $key:btn_hover );
        }
    }
}