.sidebar{
    background-color: map-get($map: $colors, $key:bg_color );
    height: 100vh;
    font-size: 0.8em;
    border-radius: 0px 20px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    overflow-y:auto;
    &__logo{
        width: 80px;
    }
    &__item{
        all: unset;
        width: 100%; 
        text-align: start;
        color: map-get($map: $colors, $key:primary );
        // background-color: map-get($map: $colors, $key:greysub );
        padding-left: 15px;
        &:hover{
            border-left: 5px solid green;
            background-color: map-get($map: $colors, $key:btn_hover );
            transition: background-color 600ms, border-left 0ms;
        }
        &--active{
            background-color: map-get($map: $colors, $key:btn_hover );
        }
    }
    &__submenu{
        display: none;
        color: black;
        background-color: map-get($map: $colors, $key:bg_menu );
    }
    &__menu{
        all: unset;
        width: 100%;
        text-align: start;
        color: map-get($map: $colors, $key: primary );
    }
    &__ico{
        width: 30px;
    }
    &__foot{
        color: map-get($map: $colors, $key: primary);
    }
}